.youtube-icon-extension {
    position: absolute;
    top: 9px;
    left: 9px;
    z-index: 99;
    width: 20px;
    height: 20px;
    opacity: 90%;
    border-radius: 100%;
    color: whitesmoke;
    background: black;
    padding: 0.5rem;
    transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
    /* Smooth transition for scaling and opacity */
}

.youtube-icon-extension:hover {
    cursor: pointer;
    transform: scale(1.1);
    /* Slightly scale up */
}