.youtube-icon-extension {
    position: absolute;
    top: 9px;
    left: 9px;
    z-index: 99;
    width: 30px;
    height: 30px;
    opacity: 90%;
    background: black;
    border-radius: 20%;
    transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
    /* Smooth transition for scaling and opacity */
}

.youtube-icon-extension:hover {
    cursor: pointer;
    transform: scale(1.1);
    /* Slightly scale up */
}