.youtube-icon-extension {
    position: absolute;
    width: 22px;
    height: 22px;
    top: 9px;
    left: 9px;
    z-index: 99;
    opacity: 90%;
    padding: 0.5rem;
    border-radius: 100%;
    background: black;
    transition: transform 0.2s ease-in-out;
}

.youtube-icon-extension:hover {
    cursor: pointer;
    transform: scale(1.2); /* Slightly scale the icon */
}

ytd-compact-video-renderer .youtube-icon-extension {
    position: absolute;
    width: 15px;
    height: 15px;
    top: 6px;
    left: 6px;
    z-index: 99;
    opacity: 90%;
    padding: 0.5rem;
    border-radius: 100%;
    background: black;
    transition: transform 0.2s ease-in-out;
}